@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	padding: 0;
	border: 0;
	margin: 0;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;
	color: var(--font-color);
}

:root {
	--font-color: #2f3234;
	--font-color-low-emphasis: rgba(0, 0, 0, 0.6);
	--color1: #F2508B;
	--color2: #D4467A;
	--color3: #ED4E89;
	--color4: #d38ea7;
	--color5: #6E243F;
	--color6: #e394b1;
	--background-color: #e2e6e9;
	--container-color: #fafafa;
	--friend-color: #fff;
	--border-color: #3333331f;
}

/* --font-color: #f0efff;
	--font-color-low-emphasis: #f0efff7e;
	--color1: #5864fd;
	--color2: #243f82;
	--color3: #6570dc;
	--color4: #5864fd;
	--color5: #2c3972;
	--color6: #b0b7f5;
	--background-color: #252145;
	--container-color: #2f2c55;
} */

/* -=-=- CONFIGURAÇÕES GERAIS -=-=- */

.w-full {
	width: 100%;
}

ul {
	list-style: none;
}

li {
	list-style: none;
}

.gradient {
	height: fit-content;
	z-index: 3;
	width: 100%;
	max-width: 640px;
	background-image: radial-gradient(at 27% 37%,
			hsla(215, 98%, 61%, 1) 0px,
			transparent 0%),
		radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
		radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
		radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
		radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
		radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
		radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
	position: absolute;
	content: "";
	width: 100%;
	height: 50%;
	filter: blur(100px) saturate(150%);
	top: 80px;
	opacity: 0.15;
}

.main {
	width: 100vw;
	min-height: 100vh;
	position: fixed;
	display: flex;
	justify-content: center;
	padding: 120px 24px 160px 24px;
	pointer-events: none;
}

.main:before {
	background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
	content: "";
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
}

.main:after {
	content: "";
	background-image: url("/assets/images/grid.svg");
	z-index: 1;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0.4;
	filter: invert(1);
}

.main-container {
	background: var(--background-color);
	padding: 3% 10%;
	min-height: 72vh;
	justify-content: start !important;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 250px;
}

a {
	text-decoration: none;
	color: var(--font-color-low-emphasis);
}

html {
	scroll-behavior: smooth;
}

/* -=-=- REUTILIZAVEIS -=-=- */

.uploadPhoto-container button {
	min-width: 175px;
	background: transparent;
}

.select-photo-cloudinary {
	background: var(--color1);
	padding: 5px;
	color: white;
	border-radius: 20px;
	cursor: pointer;

}

.checkbox {
	width: 40px;
}

.display-none {
	display: none;
}

.icon-cursor {
	cursor: pointer;
}

.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.link {
	cursor: pointer;
	text-decoration: none;
}

.very-small-rounded-photo {
	width: 42.5px;
	height: 42.5px;
	border-radius: 50%;
}

.small-rounded-photo {
	width: 55px;
	height: 55px;
	border-radius: 50%;
}

.medium-rounded-photo {
	width: 85px;
	height: 85px;
	border-radius: 50%;
}

.big-rounded-photo {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.pink-span {
	cursor: pointer;
	color: var(--color1);
}

.pink-span:hover {
	text-underline-offset: 2.5px;
	text-decoration: underline;
}

.low-emphasis-span {
	color: var(--font-color-low-emphasis);
}

.online,
.offline {
	margin: 0px 0px 5px -22.5px;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	border: 1px solid var(--border-color);
}

.online {
	background: #acffa9;
}

.offline {
	background: #333;
}

.transparent {
	background: transparent;
}

.glassmorphism {
	inset: 0;
	position: fixed;
	width: 100%;
	height: 100vh;
	backdrop-filter: blur(6px);
	-webkit-backdrop-filter: blur(6px);
	border-radius: 10px;
	overflow-y: hidden;
}

.loader-container {
	background: transparent;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.scale-transform {
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.scale-transform:hover {
	transform: scale(1.1);
}

.gradient-container {
	width: 100%;
	height: 3px;
	background: linear-gradient(-45deg, var(--color1), var(--color2), var(--color4), var(--color5), #f3e308);
	animation: gradiente 7.5s ease-in-out alternate infinite;
	background-size: 300%;
}

.edit-profile-form {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 700px;
}

.flex {
	display: flex;
}

/* -=-=- CONFIGURAÇÕES NAVBAR -=-=- */

.navbar {
	background: var(--container-color);
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 75px;
	padding: 0px 10% 0px 10%;
}

.menu-navbar {
	display: none;
}

.search-content {
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 6.5px;
	border-radius: 10px;
	background: var(--background-color);
	width: 100%;
	max-width: 350px;
	height: 35px;
}

.search-content div {
	padding: 0px 5px 0px 10px;
}

.search-content input {
	background: transparent;
	font-size: 13px;
	width: 100%;
	outline: 0;
}

.nav-list {
	list-style: none;
	display: flex;
	gap: 25px;
}

.link-nav {
	min-width: 60px;
	padding: 30px 5px 30px 5px;
	height: 40px;
	color: var(--font-color);
	text-decoration: none;
	transition-timing-function: ease-in-out;
	transition-duration: 0.25s;
	border-radius: 5px;
}

.link-nav div {
	max-height: 20px;
}

.link-nav p {
	font-size: 12.5px;
}

.link-nav:hover {
	background: var(--color1);
}

.link-nav:hover * {
	color: white;
}

.actions-navbar {
	flex-direction: row !important;
	gap: 25px;
}

.sign-out {
	height: 30px;
	width: 150px;
	border-radius: 17.5px;
	background: var(--color3);
	color: white;
	text-align: center;
}

.search-container {
	max-width: 400px;
	width: 100%;
	display: flex;
	gap: 25px;
}

.search-logo {
	width: 40px;
	height: 40px;
}

.qtd-notificacoes {
    background: var(--color1);
    color: white;
    position: absolute;
    margin-left: 15px;
    margin-top: -10px;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    font-size: 10px;
    text-align: center;
}

/* -=-=- LOGIN / REGISTER -=-=- */

.register-login-container {
	position: absolute;
	height: 100%;
	width: 100%;
	background: var(--background-color);
}

.register-login-left-container {
	display: flex;
	min-height: 800px;
	max-width: 1085px;
	width: 100%;
	background: white;
}

.register-login-left {
	width: 100%;
	height: 100%;
	background: url("/assets/images/bg1.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	justify-content: flex-end !important;
}

.register-login-left * {
	color: white;
}

.register-login-left h3 {
	text-shadow: 1px 3px 18px #2f3234;
	font-size: 25px;
}

.register-login-left p {
	text-shadow: 1px 3px 18px #2f3234;
	padding: 15px;
	margin-bottom: 175px;
	width: 400px;
	text-align: center;
}

.register-login-right {
	padding: 50px;
	width: 100%;
	height: 100%;
}

.register-login-right h2 {
	font-size: 30px;
	font-weight: 600;
}

.register-login-right p {
	color: var(--font-color-low-emphasis);
	font-size: 13px;
	margin-bottom: 50px;
}

.register-login-form {
	color: #b1b1b1;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.register-login-input {
	width: 100%;
	border-radius: 15px;
	padding: 12px;
	background: #f3f3f3;
	display: flex;
	gap: 10px;
	align-items: center;
}

.register-login-input * {
	color: #b1b1b1;
}

.register-login-input input {
	color: var(--font-color) !important;
	width: 100%;
	background: transparent;
	outline: 0;
}

.register-login-button {
	width: 100%;
	margin: auto;
	cursor: pointer;
	border-radius: 7.5px;
	margin-top: 42.5px;
	background: linear-gradient(-45deg, var(--color1), var(--color2), var(--color3), var(--color4), var(--color6));
	color: white;
	padding: 10px;
}

.register-login-icons-container {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
	gap: 10px;
}

.register-login-icon {
	padding: 10px;
	font-size: 13px;
	border-radius: 7.5px;
	display: flex;
	align-items: center;
	width: 100%;
	border: 1px solid #2f323433;
	color: #2f3234c4;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	gap: 10px;
}

.register-login-icon * {
	color: var(--font-color-low-emphasis);
}

.register-login-icon:hover {
	color: var(--color1);
}

.register-login-more {
	margin-top: 50px;
	color: var(--font-color-low-emphasis);
	font-size: 12.5px;
	text-align: center;
}

/* -=-=- PÁGINA PRINCIPAL -=-=- */

.home-container {
	max-width: 1310px;
	gap: 40px;
	width: 100%;
	display: flex;
}

.feed-container {
	gap: 40px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.actions-container {
	max-width: 265px;
	width: 100%;
}

.home-profile {
	min-width: 100%;
	border-radius: 6.5px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-height: 100px;
	background: var(--container-color);
}

.background-home-profile {
	border-radius: 6.5px 6.5px 0px 0px;
	height: 65px;
	background: linear-gradient(-25deg, var(--color1), var(--color2), var(--color3), var(--color4));
	animation: gradiente 7.5s ease-in-out alternate infinite;
	background-size: 300%;
}

.actions-texts {
	display: flex;
	justify-content: center;
	gap: 15px;
	flex-wrap: wrap;
	margin-top: 15px;
	width: 100%;
}

.actions-texts p {
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	font-size: 12px;
	color: var(--font-color-low-emphasis);
}

.actions-texts p:hover {
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 3px;
	color: var(--font-color);
}

.actions-credits {
	margin-top: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 7.5px;
}

.actions-credits img {
	width: 25px;
	height: 25px;
}

.actions-credits p {
	color: var(--font-color-low-emphasis);
	letter-spacing: 0.5px;
	font-size: 12px;

}

.photo-home-profile {
	margin-top: -50px;
}

.info-home-profile {
	padding: 5px 15px 35px 15px;
}

.home-basic-info,
.home-friends {
	padding: 15px;
	border-bottom: 1px solid #33333318;
}

.home-basic-info h2 {
	margin-top: -20px;
	text-align: center;
	color: var(--font-color);
	font-weight: 500;
}

.home-basic-info p {
	text-align: center;
	color: var(--font-color-low-emphasis);
	font-size: 13px;
}

.home-friends {
	display: flex;
	justify-content: space-between;
}

.home-friends h4 {
	color: var(--font-color);
	font-weight: 500;
	font-size: 13px;
}

.home-friends p {
	font-size: 11px;
	color: var(--font-color-low-emphasis)
}

.home-friends span {
	cursor: pointer;
	color: var(--color1);
}

.home-friends span:hover {
	text-decoration: underline;
}

.home-options {
	margin-left: 5px;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.home-options li {
	display: flex;
	gap: 7.5px;
	list-style: none;
	color: var(--font-color-low-emphasis);
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.home-options li:hover {
	color: var(--color1);
}

.home-options li div {
	font-size: 13px;
}

.posts-container {
	border-radius: 10px;
	width: 100%;
}

.write-posts-container {
	display: flex;
	gap: 10px;
	align-items: center;
}

.post-something {
	background-color: var(--friend-color);
	font-size: 12px;
	outline: 0;
	width: 100%;
	padding: 6.5px;
	border-radius: 15px;
	border: 1px solid #3333331e;
}

.top-posts-container {
	background: var(--container-color);
	padding: 25px;
	border-radius: 10px;
}

.main-posts-container {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}

.actions-posts-container {
	display: flex;
	gap: 10px;
}

.actions-posts-container span {
	cursor: pointer;
	color: var(--font-color-low-emphasis);
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.actions-posts-container span:hover {
	transform: scale(1.1);
}

.post-publication {
	font-size: 12px;
	text-align: center;
	border-radius: 15px;
	padding: 2.5px;
	width: 75px;
	background: var(--color1);
	color: white;
}

.publications-container {
	margin-top: 25px;
	width: 100%;
	min-height: 1000px;
	max-width: 575px;
}

/* -=-=- SIDEBAR -=-=- */

.sidebar-container {
	max-width: 350px;
	width: 100%;
}

.menu-sidebar-container {
	padding: 25px;
	border-radius: 10px;
	background: var(--container-color);
	margin-bottom: 15px;
}

.top-sidebar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 25px;
}

.jobs-sidebar-container {
	margin-bottom: 15px;
}

.top-sidebar h3 {
	font-weight: 600;
	font-size: 16.5px;
}

.cta {
	position: relative;
	padding: 12px 18px;
	transition: all 0.2s ease;
	background: none;
}

.cta:before {
	margin-top: 5px;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	border-radius: 50px;
	background: var(--color6);
	width: 35px;
	height: 35px;
	transition: all 0.3s ease;
}

.cta span {
	position: relative;
	font-family: "Ubuntu", sans-serif;
	font-size: 13px;
	font-weight: 500;
	letter-spacing: 0.05em;
	color: var(--font-color);
}

.cta svg {
	position: relative;
	top: 0;
	margin-left: 10px;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: var(--color5);
	stroke-width: 2;
	transform: translateX(-5px);
	transition: all 0.3s ease;
}

.cta:hover:before {
	width: 100%;
	background: var(--color6);
}

.cta:hover svg {
	transform: translateX(0);
}

.cta:active {
	transform: scale(0.95);
}

.sidebar-jobs-opportunities {
	border-radius: 5px;
	list-style: none;
	display: flex;
	gap: 15px;
	width: 100%;
	padding: 15px 0px 15px 0px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.sidebar-jobs-opportunities:hover {
	background: #33333310;
	cursor: pointer;
}

.logo-job-opportunity {
	display: flex;
	align-items: center;
	border-left: 3px solid var(--color6);
	padding-left: 12.5px;
}

.logo-job-opportunity img {
	max-width: 50px;
	max-height: 40px;
}

.info-job-opportunity h3 {
	font-weight: 500;
}

.info-job-opportunity p {
	color: var(--font-color-low-emphasis);
}

.sidebar-hot-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.sidebar-hot-container li {
	color: var(--font-color-low-emphasis);
	display: flex;
	gap: 10px;
	list-style: none;
}

/* -=-=- PERFIL -=-=- */

.profile-main-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	gap: 50px;
	margin-bottom: 200px;
}

.profile-container {
	width: 100%;
	max-width: 800px;
}

.profile-container-top {
	border-radius: 25px 25px 0px 0px;
	width: 100%;
	min-height: 400px;
	background: var(--container-color);
}

.profile-bg {
	height: 205px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 25px 25px 0px 0px;
}

.profile-photo {
	display: flex;
	align-items: flex-end;
	margin-top: -100px;
}

.main-profile {
	padding: 50px;
}

.profile-info {
	margin-top: 25px;
}

.top-profile-info h2 {
	font-weight: 600;
	font-size: 25px;
}

.top-profile-info p {
	font-size: 13px;
}

.main-profile-info {
	margin-top: 25px;
}

.info-section {
	font-size: 14px;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 7.5px;
}

.endereco {
	margin-top: 25px;
	font-size: 13px;
	color: var(--font-color-low-emphasis);
}

.endereco span {
	font-size: 13px;
}

.main-profile-container {
	margin-top: 1em;
}

.container-section-profile {
	border: 1px solid #3333332d;
	margin-bottom: 1em;
	padding: 35px;
	border-radius: 5px;
	width: 100%;
	min-height: 200px;
	background: var(--container-color);
}

.section-top {
	margin-bottom: 35px;
}

.section-top h3 {
	font-size: 20px;
}

.section-bottom h6 {
	font-weight: 600;
}

.section-bottom p {
	color: var(--font-color-low-emphasis);
	font-size: 13px;
}

.section-icon {
	display: flex;
	align-items: center;
	gap: 5px;
}

.section-icon p {
	font-size: 13px;
	color: var(--font-color-low-emphasis);
}

.section-button {
	cursor: pointer;
	border-radius: 15px;
	text-align: center;
	margin: auto;
	margin-top: 37.5px;
	padding: 7.5px;
	background: var(--color1);
	color: white;
	width: 200px;
	font-size: 13px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.section-button:hover {
	background: var(--color6);
}

.center-glassmorphism {
	width: 100%;
	height: 100vh;
}

.add-profile-container {
	box-shadow: 0 8px 32px 0 rgba(41, 41, 41, 0.37);
	border-radius: 10px;
	border: 1px solid #3333332a;
	max-width: 625px;
	min-height: 300px;
	background: var(--container-color);
	padding: 25px 35px 150px 35px;
}

.add-profile-container h2 {
	font-size: 27.5px;
}

.add-profile-container .add-subtitle {
	margin-bottom: 25px;
	margin-top: 7.5px;
	font-size: 15px;
	font-style: italic;
	color: var(--font-color-low-emphasis);
}

.top-add-profile-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile-name {
	display: flex;
	justify-content: space-between;
}

.edit-profile {
	cursor: pointer;
	width: 125px;
	background: var(--color1);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 13.5px;
	border-radius: 20px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	color: white;
}

.edit-profile:hover {
	background: var(--color3);
}

.edit-profile-types {
	margin: 50px 0px 50px 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
	width: 100%;
}

.edit-profile-type {
	cursor: pointer;
	border-bottom: 1px solid var(--color1);
	padding: 10px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.edit-profile-type:hover {
	background: var(--color1);
	color: white;
}

.edit-profile-container {
	min-height: 700px;
}

.analytics-flex {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.analytic-item {
	width: 100%;
	display: flex;
	gap: 15px;
}

.analytic-item div h4 {
	font-weight: 600;
	cursor: pointer;
	font-size: 15px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.analytic-item div h4:hover {
	color: var(--color1);
}

.analytic-item div p {
	font-size: 13px;
}

/* -=-=- AMIGOS -=-=- */

.friends-container {
	z-index: 999;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
}

.friends-actions-container {
	border: 1px solid #33333333;
	padding: 25px;
	display: flex;
	flex-direction: column;
	background: var(--container-color);
	border-radius: 7.5px;
	height: 400px;
	max-width: 300px;
	width: 100%;
}

.friends-options-container {
	gap: 15px;
	border: 1px solid #33333333;
	padding: 25px;
	background: var(--container-color);
	border-radius: 7.5px;
	min-height: 1000px;
	max-width: 1002px;
	width: 100%;
}

.friends-options-title {
	font-size: 27.5px;
}

.friends-options-subtitle {
	font-size: 13.5px;
	font-style: italic;
	color: var(--font-color-low-emphasis);
	margin-bottom: 40px;
}

.friends-options {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.friends-actions-container h3 {
	font-weight: 600;
	text-align: center;
	font-size: 17.5px;
}

.friends-actions {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.friend-action {
	padding: 7.5px;
	border-radius: 6.5px 6.5px 0px 0px;
	display: flex;
	align-items: center;
	display: flex;
	gap: 6.5px;
	border-bottom: 1px solid #3333331a;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.friend-action:hover {
	border-radius: 6.5px;
	background: #33333318;
}

.friend-action-icon {
	color: var(--font-color-low-emphasis);
}

.friend-action p {
	color: var(--font-color-low-emphasis);
	font-size: 15px;
}

.friend-option {
	border-radius: 10px;
	border: 1px solid #33333317;
	width: 300px;
	height: 315px;
	background: var(--friend-color);
}

.friend-bg {
	border-radius: 10px 10px 0px 0px;
	width: 100%;
	height: 70px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.friend-info {
	padding: 15px 15px 0px 15px;
}

.friend-photo-container {
	margin-top: -65px;
}

.friend-main-info {
	margin-top: 10px;
	height: 115px;
}

.friend-main-info h4 {
	font-size: 16px;
	font-weight: 600;
}

.friend-main-info p {
	overflow: hidden;
	font-size: 13px;
	color: var(--font-color-low-emphasis);
	max-height: 80px;
}

.add-friend-actions {
	padding: 5px 15px 0px 15px;
}

.add-friend-actions p {
	font-size: 11px;
	color: var(--color1);
}

.add-friend-button {
	margin-top: 5px;
	border: 1px solid var(--color1);
	padding: 5px;
	border-radius: 10px;
	width: 100%;
	text-align: center;
	color: var(--color1);
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.add-friend-button:hover {
	background: var(--color1);
	color: white;
}

.input-add-container {
	margin-bottom: 25px;
}

.input-add-container p {
	margin-left: 3px;
	color: var(--font-color);
	font-style: normal;
	font-size: 16px;
}

.input-add-container .tox-tinymce {
	height: 265px !important;
	margin-bottom: 25px;
}

.add-input {
	font-size: 16px;
	outline: 0;
	width: 100%;
	padding: 6.5px;
	border-radius: 5px;
	border: 1px solid #3333331a;
	margin-bottom: 15px;
	background: var(--background-color);
}

.add-button {
	width: 100%;
	cursor: pointer;
	margin-top: 15px;
	border-radius: 10px;
	background: var(--color1);
	color: white;
	text-align: center;
	padding: 10px;
}

.certificado-container {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 15px;
	padding: 15px 0px 15px 0px;
	border-bottom: 1px solid #33333315;
}

.certificado-photo {
	max-width: 60px;
	max-height: 60px;
	border-radius: 5px;
}

.certificado-info h3 {
	font-weight: 600;
	font-size: 14px;
}

.certificado-info h4 {
	font-weight: normal;
	font-size: 12.5px;
}

.certificado-info p {
	color: var(--font-color-low-emphasis);
	font-size: 12px;
}

.experiencia-container {
	width: 100%;
}

.experiencia-icon * {
	color: var(--font-color-low-emphasis);
}

.experiencia-container h2 {
	display: flex;
	align-items: center;
	gap: 17.5px;
}

.main-experiencia {
	padding-bottom: 65px;
	margin-left: 5px;
	padding-left: 22.5px;
	border-left: 1.5px solid var(--font-color-low-emphasis);
	color: var(--font-color-low-emphasis);
}

.main-experiencia h3 {
	color: var(--font-color);
	font-weight: normal;
}

.main-experiencia p {
	margin-top: 15px;
	font-size: 13.5px;
}

.main-experiencia h5 {
	font-weight: normal;
	font-size: 13px;
}

.main-experiencia h4 {
	margin-top: 25px;
	font-size: 14px;
	font-weight: normal;
	font-size: 13.5px;
}

.main-experiencia h4 .bold {
	font-weight: 600;
}

.header-experiencia {
	display: flex;
	gap: 20px;
}

/* -=-=- FOOTER CONTAINER -=-=- */

.footer-container {
	margin-top: -175px;
}

.custom-shape-divider-bottom-1688910825 {
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1688910825 svg {
	position: relative;
	display: block;
	width: calc(128% + 1.3px);
	height: 180px;
}

.custom-shape-divider-bottom-1688910825 .shape-fill {
	fill: var(--color4);
}

.footer-content {
	min-height: 300px;
	width: 100%;
	background: var(--color4);
}

/* -=-=- POST CONTAINER -=-=- */

.post-container {
	padding: 20px;
	border-radius: 10px;
	background: var(--container-color);
	margin-bottom: 10px;
}

.top-post-container {
	display: flex;
	gap: 10px;
	margin-bottom: 25px;
}

.top-post-container p {
	font-size: 12px;
	color: var(--font-color-low-emphasis);
}

.content-post {
	font-size: 13px;
	margin-bottom: 20px;
}

.image-post {
	width: 100%;
	margin-bottom: 25px;
}

.image-post-photo {
	border-radius: 5px;
	width: 100%;
}

.post-actions {
	display: flex;
	justify-content: space-between;
}

.post-icons {
	display: flex;
	gap: 10px;
}

.post-icon {
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	color: var(--font-color-low-emphasis);
}

.post-icon:hover {
	color: var(--font-color);
	transform: scale(1.1);
}

.post-likes {
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
	font-size: 12px;
	color: var(--font-color-low-emphasis);
}

.post-likes:hover {
	color: var(--font-color);
}

/* -=-=- SETTINGS -=-=- */

.settings-container {
	max-width: 750px;
	width: 100%;
}

.settings-section {
	margin-bottom: 50px;
	padding: 25px 25px 50px 25px;
	width: 100%;
	min-height: 300px;
	background: var(--container-color);
}

.settings-title {
	color: var(--color4);
	font-size: 20px;
	font-weight: 600;
}

.main-settings-section {
	margin-top: 25px;
}

.settings-item {
	padding: 7.5px 0px 7.5px 0px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.flex-themes {
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}

.theme-option {
	cursor: pointer;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border-radius: 10px;
	width: 200px;
	height: 225px;
	border: 1px solid #33333321;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.theme-option:hover {
	box-shadow: 0 0px 12px 0 rgba(97, 97, 97, 0.37);
}

.theme-image {
	border-radius: 10px 10px 0px 0px;
	width: 100%;
	height: 125px;
}

.theme-info {
	padding: 10px;
}

.theme-info h2 {
	text-align: center;
	font-weight: 500;
	font-size: 15px;
}

.color-pallete-theme {
	width: 17.5px;
	height: 17.5px;
	border-radius: 50%;
}

.pallete-flex {
	margin-top: 15px;
	display: flex;
	align-items: flex-end;
	gap: 6.5px;
}

/* -=-=- EDITAR PERFIL -=-=- */

.edit-photos-container {
	margin-top: 10px;
}

.edit-photo-profile {
	display: flex;
	gap: 20PX;
	margin-bottom: 20px;
}

.left-edit-photo img {
	border-radius: 5px;
	width: 90px;
	height: 90px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.left-edit-photo img:hover {
	cursor: pointer;
	transform: scale(1.05);
}

.right-edit-photo {
	width: 100%;
}

.right-edit-photo h2 {
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 5px;
}


/* -=-=- NOTIFICAÇÕES -=-=- */

.notificacoes-container {
	border-radius: 7.5px;
	background: var(--container-color);
	max-width: 650px;
	width: 100%;
	padding: 25px;
}

.notificacao {
	border-radius: 5px;
	padding: 35px 15px 35px 15px;
	width: 100%;
	display: flex;
	gap: 15px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.notificacao:hover {
	background: var(--background-color);
}

.notificacao-image {
	display: flex;
	align-items: center;
}

.notificacao-content {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.notificacao-actions {
	display: flex;
	align-items: center;
	padding: 0px 15px 0px 15px;
}

/* -=-=- CRIAR EMPRESA -=-=- */

.choose-company-type-container {
	max-width: 650px;
	width: 100%;
}

.title-create-company h1 {
	font-size: 30px;
}

.title-create-company h5 {
	margin-bottom: 50px;
	font-weight: 500;
	color: var(--font-color-low-emphasis);
	font-size: 13px;
	text-align: center;
}

.company-types {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 100px;
}

.company-option {
	border-radius: 10px;
	padding: 25px;
	background: var(--container-color);
	width: 250px;
	height: 250px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
	cursor: pointer;
}

.top-company-option {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-company-option {
	height: 150px;
	justify-content: space-between;
}

.main-company-option p {
	margin-top: 15px;
	text-align: center;
	font-size: 13px;
}

.top-company-option img {
	width: 50px;
	height: 50px;
}

.image-create-company img {
	margin-top: 75px;
	width: 600px;
	height: 600px;
}

.create-company-option {
	color: var(--color1);
}

.create-company,
.create-instituition {
	z-index: 10;
	background: var(--container-color);
	padding: 50px;
	border-radius: 10px;
	margin-bottom: 200px;
}

.create-company-form {
	max-width: 650px;
	width: 100%;
}

.input-create-company-container {
	margin-bottom: 25px;
}

.input-create-company-container p {
	padding: 5px 0px 5px 0px;
}

.input-create-company {
	width: 100%;
	outline: 0;
	padding: 10px;
	border: 1px solid #3333331e;
	background: var(--friend-color);
}

.button-create-company {
	margin-top: 50px;
	padding: 10px;
	background: var(--color1);
	color: white;
	border-radius: 10px;
	width: 100%;
}

.flex-permission {
	display: flex;
	gap: 15px;
}

.flex-permission p {
	font-size: 13px;
}

.create-company-title h1 {
	color: var(--color1);
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}

.create-company-title p {
	text-align: center;
	font-size: 13px;
	font-style: italic;
	color: var(--font-color-low-emphasis);
	margin-bottom: 50px;
}

/* -=-=- COMPANY INFO -=-=- */

.company-container {
	display: flex;
	gap: 40px;
	max-width: 1250px;
	width: 100%;
	z-index: 999;
}

.main-company-container {
	width: 100%;
	border-radius: 10px;
}

.bg-company {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 10px 10px 0px 0px;
	width: 100%;
	height: 200px;
}

.main-company-color-container {
	border-radius: 10px;
	background: var(--container-color);
}

.main-company-content {
	padding: 50px;
	margin-top: -125px;
}

.main-company-logo-container {
	background: var(--container-color);
	width: 125px;
	height: 125px;
	border-radius: 5px;
}

.main-company-logo {
	width: 100%;
	height: 100%;
}

.top-company-info h1 {
	margin-top: 25px;
	font-size: 25px;
}

.top-company-info p {
	font-size: 13px;
	color: var(--font-color-low-emphasis);
}

.mid-company-info {
	margin-top: 35px;
}

.about-company h3 {
	font-weight: 700;
}

.about-company p {
	font-size: 12.5px;
	color: var(--font-color-low-emphasis);
}

.options-company {
	margin-top: 25px;
	display: flex;
	gap: 25px;
}

.option-mid-company {
	min-width: 100px;
	font-size: 15px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px 30px 5px 30px;
	gap: 5px;
	border-radius: 20px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.color {
	color: white;
	background: var(--color1);
}

.color * {
	color: white;
}

.color:hover {
	background: var(--color2);
}

.white {
	border: 1px solid var(--color1);
	color: var(--color1);
}

.white:hover {
	color: white;
	background: var(--color1);
}

.white * {
	color: var(--color1);
}

.white:hover * {
	color: white;
}

.gray {
	border: 1px solid var(--font-color-low-emphasis);
}

.bottom-company-info {
	padding-top: 20px;
	border-top: 1px solid #7777772a;
	width: 100%;
	display: flex;
	margin-top: 35px;
}

.company-nav-item {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.company-nav-item:hover {
	color: var(--color1);
}

/* -=-=- INFORMAÇÕES ADICIONAIS -=-=- */

.aditionalinfo-container {
	max-width: 750px;
	width: 100%;
	z-index: 999;
}

.info-form-container {
	background: var(--container-color);
	border-radius: 10px;
	padding: 50px;
}

.info-form-main {
	width: 100%;
}

.info-form-main h1 {
	font-size: 25px;
	text-align: center;
	color: var(--color1);
}

.info-form-main h5 {
	color: var(--font-color-low-emphasis);
	font-weight: normal;
	font-size: 13px;
	text-align: center;
	font-style: italic;
	margin-bottom: 50px;
}

.info-form-buttons {
	margin-top: 50px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.info-form-buttons div {
	color: var(--color1);
}

.info-form-buttons .action-info-form:hover {
	cursor: pointer;
	text-decoration: underline;
	text-underline-offset: 3px;
}

.info-form-input {
	margin-bottom: 25px;
}

.info-form-input h3 {
	font-weight: 600;
	margin-bottom: 2.5px;
}

.info-form-input select,
.info-form-input input {
	outline: 0;
	padding: 5px;
	width: 100%;
	background: var(--background-color);
}

.propostas-container {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.proposta-item {
	display: flex;
	gap: 7.5px;
}

.proposta-item input {
	cursor: pointer;
	width: 15px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.proposta-item input:hover {
	transform: scale(1.1);
}

.info-form-submit {
	cursor: pointer;
	color: var(--color1);
	border: 1px solid var(--color1);
	padding: 5px 10px 5px 10px;
	background: transparent;
	border-radius: 20px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}


.info-form-submit:hover {
	background: var(--color1);
	color: white;
}

.finalizar-container {
	margin-top: 50px;
}

.finalizar-container p {
	text-align: center;
}

/* -=-=- JOBS CONTAINER -=-=- */

.empregos-container {
	display: flex;
	justify-content: center;
	max-width: 1300px;
	width: 100%;
	gap: 50px;
	padding-bottom: 200px;
}

.empregos-list-container {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	min-height: 800px;
	width: 100%;
	background: var(--container-color);
	z-index: 10;
	border-radius: 10px;
}

.emprego-popup-container {
	max-width: 700px;
	min-height: 800px;
	width: 100%;
	background: var(--container-color);
	z-index: 10;
	padding: 40px;
	border-radius: 10px;
}

.emprego-container {
	display: flex;
	cursor: pointer;
	gap: 10px;
	padding: 15px 15px 0px 15px;
	width: 100%;
	background: var(--friend-color);
	transition-timing-function: ease-in-out;
}

.emprego-container:hover {
	border-right: 2px solid var(--color1);
}

.logo-emprego img {
	width: 40px;
	height: 40px;
}

.info-emprego {
	padding-bottom: 15px;
	width: 100%;
	border-bottom: 1px solid #33333318;
}

.info-emprego h1 {
	font-weight: 500;
	font-size: 16px;
}

.info-emprego h2 {
	font-weight: 500;
	color: var(--font-color-low-emphasis);
}

.info-emprego h6 {
	font-weight: 400;
	color: var(--font-color-low-emphasis);
	font-size: 13px;
}

.status-emprego {
	cursor: pointer;
	margin-top: 15px;
	display: flex;
	align-items: center;
	gap: 5px;
}

.status-emprego * {
	color: var(--color1);
}

.empregos-aplicados {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background: var(--color1);
	color: white;
	padding: 15px;
	cursor: pointer;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.empregos-aplicados:hover {
	background: var(--color4);
}

.status-emprego p {
	font-size: 12px;
}

.emprego-popup-container h1 {
	font-size: 20px;
}

.emprego-popup-container h2 {
	font-weight: 400;
}

.emprego-stats {
	margin-top: 25px;
}

.emprego-stat {
	padding: 5px;
	display: flex;
	align-items: center;
	gap: 10px;
}

.emprego-stat * {
	color: var(--font-color-low-emphasis);
}

.main-info-emprego {
	margin-top: 25px;
}

.main-info-emprego h2 {
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 15px;
}

.main-info-emprego p {
	font-size: 13px;
	color: var(--font-color-low-emphasis);
}

.company-feed-container {
	margin-top: 50px;
	width: 100%;
	border-radius: 7.5px;
}

.company-feed-item {
	margin-bottom: 25px;
	padding: 50px;
	border-radius: 7.5px;
	background: var(--container-color);
}

.card-items {
	padding: 25px !important;
}

.company-feed-item h1 {
	font-size: 22.5px;
	margin-bottom: 3px;
}

.company-feed-item p {
	font-size: 13.25px;
	text-align: justify;
}

.company-feed-about-bottom {
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 25px;
}

.contact-company,
.acoes-company {
	background: var(--friend-color);
	padding: 25px;
	border-radius: 10px;
	border: 1px solid var(--border-color);
	width: 100%;
}

.contact-company h3,
.acoes-company h3 {
	font-size: 13px;
	margin-bottom: 5px;
	font-weight: normal;
	color: var(--font-color-low-emphasis);
}

.contact-company a {
	color: var(--color1);
}

.interest-flex {
	display: flex;
	gap: 25px;
}

.interest-left button {
	margin-top: 15px;
	padding: 5px;
	background: transparent;
	border: 1px solid var(--color1);
	color: var(--color1);
	border-radius: 20px;
	cursor: pointer;
}

.btn-edit-company {
	margin-top: 50px;
	border-top: 1px solid #33333311;
	padding: 25px 0px 0px 0px;
	text-align: center;
	cursor: pointer;
}

.about-input {
	height: 400px;
}

.error-msg-company {
	padding: 50px 0px 50px 0px;
	text-align: center;
}

.vagas-card-container {
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}

.vaga-card {
	background: var(--friend-color);
	border-radius: 10px;
	padding: 25px;
	border: 1px solid #3333331a;
	width: 250px;
	height: 325px;
	overflow: hidden;
}

.vaga-card-top {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 15px;
}

.vaga-card-main h1 {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: -3px;
}

.vaga-card-main h2 {
	font-weight: normal;
	font-size: 14px;
}

.vaga-card-main h4 {
	color: var(--font-color-low-emphasis);
	font-size: 13px;
	font-weight: normal;
}

.vaga-card-bottom {
	margin-top: 25px;
}

.vaga-card-foto {
	width: 50px;
	height: 50px;
}

.vaga-card-time {
	border-top: 1px solid var(--border-color);
	padding: 15px 0px 25px 0px;
	margin-top: 40px;
	width: 100%;
	display: flex;
	justify-content: center;
	color: var(--font-color-low-emphasis);
}

/* -=-=- PREMIUM OFFER -=-=-  */

.offer-premium {
	background: var(--container-color);
	width: 100%;
	min-height: 175px;
	border-top: 3px solid #e2b318;
	border-radius: 0px 0px 10px 10px;
	padding: 25px;
	margin-bottom: 15px;
}

.offer-premium-top p {
	margin-bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 12px;
	color: var(--font-color-low-emphasis);
}

.offer-premium-main {
	padding: 10px;
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.offer-premium-main p {
	font-size: 13px;
}

.offer-premium-main img {
	width: 30px;
	height: 30px;
}

.offer-premium-bottom {
	display: flex;
	justify-content: center;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	width: 150px;
	padding: 5px;
	color: white;
	border-radius: 20px;
	background: #e2b318;
}

.sidebar-friends-option-container {
	padding: 10px 10px 10px 0px;
	cursor: pointer;
	border-radius: 10px;
	width: 100%;
	margin-bottom: 25px;
	display: flex;
	gap: 10px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.sidebar-friends-option-container:hover {
	background: #33333311;
}

.sidebar-friend-main {
	width: 100%;
}

.sidebar-friend-main h1 {
	font-size: 14px;
}

.sidebar-friend-main p {
	font-size: 12px;
}

.sidebar-friend-right {
	display: flex;
	align-items: center;
}

.sidebar-friend-right svg {
	cursor: pointer;
}

/* -=-=- SEGUIDORES -=-=- */

.followers-container {
	padding: 40px;
	display: flex;
	flex-direction: column;
	background: var(--container-color);
	border-radius: 10px;
	min-height: 600px;
	min-width: 650px;
}

.follower-container {
	padding-top: 15px;
	display: flex;
	align-items: center;
	gap: 15px;
}

.follower-main {
	width: 100%;
}

.follower-main h2 {
	font-weight: 600;
}

.follower-main h4 {
	font-weight: normal;
	font-size: 13px;
}

.follower-main p {
	font-size: 12px;
	color: var(--font-color-low-emphasis);
}

.follower-right {
	display: flex;
	align-items: center;
	gap: 15px;
}

.follower-left img {
	width: 55px;
	height: 55px;
	border-radius: 50%;
}

.follower-border {
	width: 100%;
	display: flex;
	align-items: center;
	padding-bottom: 15px;
	border-bottom: 1px solid var(--border-color);
}

.follower-right div {
	border-radius: 20px;
	color: var(--color1);
	border: 1px solid var(--color1);
	padding: 5px;
	text-align: center;
	min-width: 125px;
	font-size: 12px;
	transition-timing-function: ease-in-out;
	transition-duration: 0.3s;
}

.follower-right div:hover {
	cursor: pointer;
	color: white;
	background: var(--color1);
}

.followers-config {
	display: flex;
	flex-direction: column;
	padding-bottom: 25px;
	border-bottom: 1px solid var(--border-color);
}

.followers-config div {
	display: flex;
	gap: 10px;
	align-items: center;
}

.followers-config h1 {
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
}

.followers-config h1 span {
	color: var(--color1);
}

.follower-search {
	padding: 6.5px 15px 6.5px 15px;
	width: 100%;
	outline: 0;
	border-radius: 15px;
	border: 1px solid var(--border-color);
	background: var(--friend-color);
	font-size: 13px;
	color: var(--font-color-low-emphasis);
}

/* -=-=- ANIMAÇÕES -=-=- */

@keyframes gradiente {
	from {
		background-position: 0 50%;
	}

	to {
		background-position: 100% 50%;
	}
}

/* -=-=- RESPONSIVIDADE -=-=- */

@media (max-width: 1605px) {
	.main-container {
		padding: 3% 2%;
	}
}

@media (max-width: 1450px) {

	.home-container {
		max-width: 1145px;
	}

	.home-profile {
		width: 220px;
	}

	.home-basic-info p {
		font-size: 10px;
	}

	.sidebar-container {
		max-width: 280px;
	}

	.friends-options-container {
		max-width: 715px;
	}

	.friends-options {
		justify-content: center;
	}
}

@media (max-width: 1215px) {
	.posts-container {
		max-width: 400px;
	}

	.home-container {
		max-width: 1020px
	}
}

@media (max-width: 1075px) {
	.sidebar-container {
		display: none;
	}

	.feed-container {
		flex-wrap: wrap;
		justify-content: center;
	}

	.home-container {
		max-width: 800px;
	}

	.posts-container {
		max-width: 500px;
	}

	.actions-container,
	.home-profile {
		max-width: none;
	}

	.emprego-popup-container {
		display: none;
	}
}

@media (max-width: 650px) {

	.main-container {
		padding: 10% 0%;
	}

	.friends-options {
		justify-content: center;
	}

	/* .actions-navbar,
	.search-content,
	.nav-content {
		display: none;
	}

	.navbar {
		justify-content: flex-end;
	} */

	.menu-navbar {
		display: block;
		cursor: pointer;
		padding-right: 25px;
	}

	.notificacoes-container {
		padding: 0;
	}

	.notificacao-content p {
		font-size: 12px;
	}
}